* {
    padding: 0;
    margin: 0;
    border: 0;
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
a:link , a:visited{
    text-decoration: none;
    color: #6c6c6c;
}

.top 
{
    background-color: #FFCD36;
    height: 100px;
    margin-left: 0px;
    padding-top: 25px;
}
.btnBuscar
{
    width: 20px;
    height: 20px;
    float: right;
    margin-right: 5px;

}
.btnBuscar img
{
    margin-left: 2px;
    margin-top: 5px;
}
.Buscador input 
{
    background-color: white;
    width: 100px;
    height: 20px;
    float: right;
    margin-right: 0px;
    border-radius: 43px 43px 43px 43px;
    -moz-border-radius: 43px 43px 43px 43px;
    -webkit-border-radius: 43px 43px 43px 43px;
    border: 0px solid #000000;
    font-family: 'light';
    color: #6c6c6c;
}
.BtnHome
{
    width: 20px;
    height: 20px;
    float: right;
    margin-right: 5px;
}
.BtnHome img
{
    margin-left: 2px;
    margin-top: 5px;
}
.Centro
{
    margin: 0 auto;
}
.CentroArriba
{
    background-color: #FFCD36;
    width: 1180px;
    height: 100px;

}
.Logo
{

    width: 165px;
    height: 100px;
    float:left;

}
.Arriba
{
    background-color: #FFCD36;
    display: block;
    height: 50px;
    float: left;
    display: inline-block;

}
.Abajo
{

    height: 50px;
    display: block;
    font-family:'light';
    padding-right: 0px;

}
.Abajo ul 
{
    list-style-type: none;
    text-align: right;
    margin-top: 10px;

}

.Abajo li
{
    display: inline;
    margin-right: 0px;
    margin-left: 38px;
    color:#575249;

}

