html {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;  /*para que el padding y border de ese elemento no incrementan su ancho  */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    vertical-align: baseline;
}
.conteiner{
    margin: 0 auto;
    overflow: hidden;
    width: 1024px;
}
/*Header*/
.head{
    height: 95px;
    background-color: #FFCD36 ;
    overflow: hidden;
}

#logoUni{
 margin-top:2.7%;
}
/*btns seek, home, search text field */
a:link , a:visited{
    text-decoration: none;
    color: #6c6c6c;
}
#Buscador  
{
    margin-top:2.5%;
    width: 87px;
    height: 19px;
    float: right;
    border-radius: 43px 43px 43px 43px;
    -moz-border-radius: 43px 43px 43px 43px;
    -webkit-border-radius: 43px 43px 43px 43px;
    border: 0px solid #000000;
    font-family: 'light';
    color: #6c6c6c;
}
#BtnHome
{   margin-top: 3%;
    float: right;
    margin-right:1.2%;

}
#BtnBuscar
{
    margin-top: 3%;
    float: right;
    margin-right:1.2%;
}
/* End btns seek, home, search text field */
/*Menu*/
#menu
{
float: right;
margin-top:6.5%;
margin-right: -13.8%;
}
#menu ul 
{
    list-style-type: none;
    text-align: right;
}

#menu li
{
    display: inline;
    color:#575249;
    margin-left: 29.5px;
    font-size: 15px;
    font-family:'light';
}
/*EndMenu*/
/*EndHeader*/
/*firstYellow*/
#firstYellow
{   
    height:389px;
    overflow: hidden;
    background-color: #FFCD36 ;
    border-bottom: 76px solid #EDEDED;
}
.Banner
{
    height: 390px;
    background-color:black;
    opacity: .5;
    position:absolute;
    left: 0;
    right: 0;
    margin:auto;
}
/*EndfirstYellow*/
/*firstGrey*/
#firstGrey
{
    overflow: hidden;
    background-color:#EDEDED ;
}

#firstGrey_img
{
    margin-bottom:8%;
    display:inline;
    float: left;

}
.firstGrey_title
{
    display: inline-block;
    margin-left:20px;
    margin-top:10px;
    font-size:23px;
    line-height:30px;
    word-spacing: 0.222em;
    float: left;
    font-family:'light';
    max-width: 280px;
    color:#575249;
    margin-bottom:18px;
}
#firstGrey_des
{
    float: left;
    font-size: 14px;
    word-spacing: 0.15em;
    color:#575249;
    max-width:572px;
    margin-left: 20px;
    line-height:20px;
    font-family:'regular';
    margin-bottom: 18px;
}
.verMas
{
    height: 25px;
    width: 95px;
    background-color: #914DB1;
    border-radius: 43px 43px 43px 43px;
    -moz-border-radius: 43px 43px 43px 43px;
    -webkit-border-radius: 43px 43px 43px 43px;
   float:right;
   margin-right:48%;
   margin-bottom:10%;
   position:relative;

}
#firstGrey_vermas{
    text-decoration: none;
    color: white;
    font-family: 'bold';
    font-size: 14.44px;
    margin-left:18%;    
}
/*endFirstGrey*/
/*firstWhite*/
#firstWhite
{
    overflow: hidden;
    background-color: white;
}
.firstWhite_news
{
    width: 240px;
    overflow: hidden;
    display: inline-block;
}
.firstWhite_img
{   
    margin-top: 55px;
    margin-bottom: 40px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    height:203px;
    width: 203px;
    margin-left:8%;
}
.firstWhite_title
{
    font-size: 16px;
    font-family: 'regular';
    word-spacing: 0.30em;
    color:#575249;
    margin-bottom: 4%;
}
.firstWhite_description
{
 word-spacing: 0.08em;
 font-size: 12px;
 font-family: 'regular'; 
 text-align: justify; 
 margin-bottom:25px; 
}
.firstWhite_vm
{
    height: 25px;
    width: 95px;
    background-color: #914DB1;
    border-radius: 43px 43px 43px 43px;
    -moz-border-radius: 43px 43px 43px 43px;
    -webkit-border-radius: 43px 43px 43px 43px;
    margin-bottom: 67px;
}
.firstWhite_vm a
{
    text-decoration: none;
    color: white;
    font-family: 'bold';
    font-size: 14.44px;
    margin-left:18%; 
}
.izq
{
    margin-left: 16px;
}
.hrs
{
    width:  100%;
    margin-bottom:67px;
}
#firstWhite_imgSabiasQue
{
    float:right;
    margin-left:20px;
    display: inline-block;
}
#firstWhite_titleSabiasQue
{
    font-size:23px;
    line-height:30px;
    word-spacing: 0.222em;
    float: right;
    font-family:'light';
    max-width: 328px;
    color:#575249;
    margin-bottom:25px;
    text-align: right;
}
#firstWhite_descriptionSabiasQue
{
    text-align: right;
    text-justify: distribute;
    word-spacing: 0.2em;
    line-height:20px;
    font-family:'regular';
    font-size:14px;
    color:#575249;
    display: inline-block;
    max-width:674px;
    margin-bottom: 26px;
}
.firstWhite_verMasSabiasQue
{
    height: 25px;
    width: 95px;
    background-color: #914DB1;
    border-radius: 43px 43px 43px 43px;
    -moz-border-radius: 43px 43px 43px 43px;
    -webkit-border-radius: 43px 43px 43px 43px;
    margin-left: 56.6%;
    margin-bottom: 31px;
}
.firstWhite_verMasSabiasQue a
{
    text-decoration: none;
    color: white;
    font-family: 'bold';
    font-size: 14.44px;
    margin-left:18%;

}
.SabiasQue_minImage
{
    float: left;
    margin-bottom:78px;
}
.minIzq
{
    margin-left: 20px;
}
/*endFirstWhite*/
/*secondGrey*/
#secondGrey
{
    overflow: hidden;
    background-color:#EDEDED ;
    padding-top: 28px;
}
#ServiciosQueOfrece
{
    width: 66%;
    float: left;
    overflow: hidden;
    margin-right: 20px;
}
#ContactosFrecuentes
{
    width: 32%;
    float: left;
    overflow: hidden;
    
}
.Titulos
{
    font-size:24px;
    word-spacing: 0.222em;
    font-family:'light';
    color:#575249;
}
#secondGrey_imgSContactosFrecuente
{
    margin-top: 7px;
    margin-right:5px;
}
.hrsSecondGrey
{
     margin-top:38px;
     margin-bottom:37px;
}
.listaContactosFrecuentes
{
    float: left;
    color:#575249;
    font-family:'regular';
    list-style: none;
    font-size: 14px;
}
.izqListaFrecuente
{
    margin-left: 20px;
}
#secondGrey_description
{
    color:#575249;
    font-family:'regular';
    font-size: 14px;
    text-align: justify;
    text-height: 20;
    word-spacing: .15px;
    margin-bottom:35px;
}
.lista
{
    float: left;
    margin-left: 18px;
    margin-right: 55px;
    font-family:'regular';
    color:#71a9db;
    font-size: 14px;
    margin-bottom:58px;
}
.lista li:first-line 
{
    color:#6c6c6c;
}

/*endSecondGrey*/