/*IE Responsive 7 equal or mayor */ 

@media (max-width: 780px){
        .ServiciosQueOfrece hr {width:55%; margin-left: -280px;}
    	.ListaDosProgramasPrevencion {margin-top: 0px; margin-left: 50px;}
    	.tresAzulAbajo{margin-top: 50px; margin-left: 50px;}
    	.colorAzul hr {margin-top: 90px;}
    	.uanl {margin-top: 310px;}
    }



/*
	  <![if IE]>
            <style>
                .top {
                    background-color: red;
                }
            </style>
        <![endif]>
*/