/*IE Responsive 7 equal or mayor */ 

@media (max-width: 780px){
        .ServiciosQueOfrece hr {width:55%; margin-left: -280px;}
    	.ListaDosProgramasPrevencion {margin-top: 0px; margin-left: 50px;}
    	.tresAzulAbajo{margin-top: 50px; margin-left: 50px;}
    	.colorAzul hr {margin-top: 90px;}
    	.uanl {margin-top: 310px;}
    }

@media (max-width: 480px){
		.colorBlan hr {margin-left: -170px; width: 90%;}
		.ServiciosQueOfrece hr {margin-left: 0px; width: 92%;}
		.ListaDosProgramasPrevencion {margin-left: -15px; margin-top: -10px;}
		.tresAzulAbajo{margin-top: 0px;margin-left: 150px;}
		.colorAzul hr {margin-top: 20px;}
		.uanl {margin-top: 385px;}
	}

@media (max-width: 480px){
		.colorBlan hr {margin-left: -10px; width: 88%;}
		.tresAzulAbajo {margin-left: 40px; margin-top: -40px;}
		.uanl {margin-top: 500px;}
}
/*
	  <![if IE]>
            <style>
                .top {
                    background-color: red;
                }
            </style>
        <![endif]>
*/